/*footer*/
.footer-bio{
	margin-bottom: 15px;
	font-size: 14px;
	list-style: none;
}
.form-control-sm{
	height: 25px;
	font-size: 12px;
}
.text-white{
	color: white;
}

/*logo*/
.logo-brand-web{
	width: 15%;
	margin-top: 10px;
}

.logo-brand-web{
	float: left;
	font-size: 20px;
}

.text-logo{
	float: left;
	padding-top: 30px;
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

